[Unit]
Description = Glusterfs volume {{ glusterfs_volume_name }}
After=network.target
Requires=network-online.target

[Mount]
What={{ glusterfs_server_name }}:/{{ glusterfs_volume_name }}
Where={{ path_to_mount }}
Type=glusterfs
{% if force_ipv4_as_ipv6_not_available is defined and force_ipv4_as_ipv6_not_available | bool %}
Options=defaults,acl,xlator-option=transport.address-family=inet
{% else %}
Options=defaults,acl
{% endif %}

[Install]
WantedBy=multi-user.target
